/*
 * biggerthanoptimus
 * by Phil Christensen <phil@bubblehouse.org>
 * see LICENSE for details
 */

@import "normalize.less";

.biggerthanoptimus {
	#fork {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
	}
}

@import "media-queries.less";
@import "helpers.less";
@import "print.less";
